.card {
  height: 240px;
  width: 350px;
  transform: scale(0.9);
  background: #fafafa;
  border-radius: 7px;
  box-shadow: 0 0 10px 2px #d0d0d0;
}

.card:hover {
  box-shadow: 0 0 10px 3px rgb(192, 230, 253);
  border: rgb(149, 214, 255) 0.1px solid;
}

.card-content-layout {
  color: black;
  padding: 40px;
  font-size: small;
}
