@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
}

h1 {
  font-size: 2.5rem;
}

.header-placeholder {
  height: 75px;
}

.right-panel {
  position: absolute;
  right: 0;
  position: sticky;
}
